<ion-view view-title="Login" align-title="left" hide-nav-bar="true" hide-back-button="true">
    <ion-content padding="true" class="manual-ios-statusbar-padding" style="background: url(img/t1.jpg) center; background-size: cover;">
        
        <form class="list">
            <div class="hero no-header flat">
                <div class="content">
                    <!-- <div class="app-icon"></div>
                    <h1>Thronester</h1> -->
                    <img src="img/tdlogo.png" width="70%" height="auto">
                </div>
            </div>
            <div class="list">
                <ion-md-input placeholder="Username" highlight-color="balanced" type="text"></ion-md-input>
                <ion-md-input placeholder="Password" highlight-color="energized" type="password"></ion-md-input>
            </div>
        </form>    
        <div class="padding">
            <button ui-sref="app.activity" class="button button-full button-assertive ink">Login</button>
            <button ui-sref="app.signup" class="button button-full button-light ink">Sign Up with Traffic Dodge</button>
        </div>
        
    </ion-content>
</ion-view>
